@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Single+Day&display=swap');
	
*{
font-family: 'Gasoek One', sans-serif;
font-family: 'Single Day', cursive;
}


@media screen and (max-width: 960px) {
   #img_header { 
	   display: none; 
   }
}